always-auth=false
registry=https://registry.npmjs.org/
init.author.name=Matt Vaughn
init.author.email=matt@angularlicio.us
init.author.url=http://www.angularlicio.us
init.license=MIT
init.version=0.0.1
